In [1]:
import pandas as pd

In [ ]:
pd.set_option("max-columns")

In [4]:
data = pd.read_json("../Data_Science_on_Football/data_stock/events/7298.json")

In [5]:
data.head()

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,goalkeeper,duel,ball_recovery,interception,block,substitution,foul_committed,foul_won,injury_stoppage,bad_behaviour
0,8671703e-aab7-47a8-818e-a83a91278658,1,1,2020-11-15 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 746, 'name': 'Manchester City WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,08a66b27-7098-4396-b942-ba73fa2e2df6,2,1,2020-11-15 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 746, 'name': 'Manchester City WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,48b94b06-ebbd-47e9-958c-44bf63622f5e,3,1,2020-11-15 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 746, 'name': 'Manchester City WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,c771a4d4-51cb-41de-83aa-7103cd199c92,4,1,2020-11-15 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 746, 'name': 'Manchester City WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,272ef47d-171f-4395-a156-f4979e7bf352,5,1,2020-11-15 00:00:00.100,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 971, 'name': 'Chelsea LFC'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN